absl-py==2.0.0
accelerate==0.24.1
albumentations==1.3.1
asttokens==2.4.1
attrs==23.1.0
bitsandbytes==0.41.1
certifi==2023.11.17
cffi==1.16.0
charset-normalizer==3.3.2
colorama==0.4.6
coloredlogs==15.0.1
comm==0.2.2
contourpy==1.2.0
cycler==0.12.1
Cython==3.0.7
debugpy==1.8.1
decorator==5.1.1
dlib==19.24.2
easydict==1.11
exceptiongroup==1.2.0
executing==2.0.1
facenet-pytorch==2.5.3
filelock==3.13.1
flatbuffers==23.5.26
fonttools==4.45.1
fsspec==2023.10.0
fugashi==1.3.1
huggingface-hub==0.19.4
humanfriendly==10.0
idna==3.5
imageio==2.33.1
insightface==0.7.3
ipadic==1.0.0
ipykernel==6.29.3
ipython==8.22.2
jedi==0.19.1
Jinja2==3.1.2
joblib==1.3.2
jupyter_client==8.6.1
jupyter_core==5.7.2
kiwisolver==1.4.5
lazy_loader==0.3
MarkupSafe==2.1.3
matplotlib==3.8.2
matplotlib-inline==0.1.6
mecab-python3==1.0.8
mediapipe==0.10.8
MouseInfo==0.1.3
mpmath==1.3.0
nest-asyncio==1.6.0
networkx==3.2.1
numpy==1.26.2
onnx==1.15.0
onnxruntime==1.16.3
opencv-contrib-python==4.8.1.78
opencv-python==4.8.1.78
opencv-python-headless==4.8.1.78
packaging==23.2
parso==0.8.3
Pillow==10.1.0
plac==1.4.3
platformdirs==4.2.0
prettytable==3.9.0
prompt-toolkit==3.0.43
protobuf==3.20.3
psutil==5.9.6
pure-eval==0.2.2
PyAudio==0.2.14
PyAutoGUI==0.9.54
pycparser==2.21
PyGetWindow==0.0.9
Pygments==2.17.2
PyMsgBox==1.0.9
pyparsing==3.1.1
pyperclip==1.8.2
pyreadline3==3.4.1
PyRect==0.2.0
PyScreeze==0.1.30
python-dateutil==2.8.2
pytweening==1.0.7
pywin32==306
PyYAML==6.0.1
pyzmq==25.1.2
qudida==0.0.4
regex==2023.10.3
requests==2.31.0
safetensors==0.4.0
scikit-image==0.22.0
scikit-learn==1.3.2
scipy==1.11.4
sentencepiece==0.1.99
six==1.16.0
sounddevice==0.4.6
SpeechRecognition==3.10.0
srt==3.5.3
stack-data==0.6.3
sympy==1.12
threadpoolctl==3.2.0
tifffile==2023.12.9
tokenizers==0.15.0
torch==2.0.0+cu118
torchaudio==2.0.1
torchvision==0.15.1
tornado==6.4
tqdm==4.66.1
traitlets==5.14.2
transformers==4.35.2
typing_extensions==4.8.0
unidic==1.1.0
unidic-lite==1.0.8
urllib3==2.1.0
vosk==0.3.45
wasabi==0.10.1
wcwidth==0.2.12
websockets==12.0
